RewriteEngine On

# Не обрабатывать напрямую уже переписанный frontend
RewriteRule ^frontend/dist/ - [L]

# Файлы frontend
RewriteCond %{DOCUMENT_ROOT}/frontend/dist/$1 -f
RewriteRule ^(.+)$ frontend/dist/$1 [L]

# Всё остальное -> React
RewriteRule ^ frontend/dist/index.html [L]