RewriteEngine On

# Django Passenger application
RewriteRule ^a(/.*)?$ - [L]

# Любой запрос -> frontend/dist/<путь>
RewriteCond %{REQUEST_URI} !^/frontend/dist/
RewriteRule ^(.+)$ frontend/dist/$1 [L]

# Не файл, и (корень или не каталог) -> index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} ^/$ [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ frontend/dist/index.html [L]